<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%=render 'light_section_header', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'side_bar', taxonomies: @taxonomies %>
        <%= render 'filter' %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render partial: "product", collection: @products %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'light_section_footer' %>
</div>
